*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;


}
body {
    width: 100%;
}



nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;



}

nav ul {
    display: flex;
    flex-direction: row;
}
.content input {
    border: 1px solid rgb(119, 198, 230);
    border-radius: 40px;
    width: 250px;


}
nav ul li {
    list-style: none;
    padding: 30px;
    cursor: pointer;
}
nav ul li a {
    color: black;
    text-decoration: none;
    
}
nav ul li a:hover {
    color: rgb(145, 204, 238);
}

.content li button {
    width: 80px;
    height: 40px;
    background: rgb(131, 212, 233);
    padding: 4px 4px;
    left: auto;


}
.content ul li a {
    font-size: 20px;
}
.content  button a {
    text-decoration: none;

}

 




section {
    width: 100%;
    
    
    
}
section ul li a {
    color:black;
    text-decoration: none;
    display:inline-flex;
    justify-content: space-between;


}
section ul li {
    list-style: none;
    
    cursor: pointer;
    

}
section ul {
    display: flex;
    flex-direction: row;
    

}
section ul li a:hover {
    color: white;
}
.menu {
    background: rgb(238, 149, 77)
    
}
.banner {
    width: 100%;
    
}
div ul {
    display: flex;
    flex-direction: row;
}
div ul li a {
    color:black;
    text-decoration: none;
    display:inline-flex;
    justify-content: space-between;
    

}
 body div ul li {
    list-style: none;
    padding: 80px;
    cursor: pointer;
}
.brand ul li a {
    color:black;
    text-decoration: none;
    display:inline-flex;
    justify-content: space-between;
    
}
.brand ul li {
    padding: 150px;
    height: 40px;
    
}
h1 {
    padding: 30px;
}
 

footer {
    width: 100%;
    height: 50px;
}
footer .main {
    width: 100%;
    
    background: rgb(236, 233, 233);
    padding: 20px 10px;
}
.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
    margin-top: 20px;
}
.footer-company,
.footer-rental,
.footer-contact {
    color: black;
    height: 100%;
    min-height: 100px;
    padding: 80px;
  
}
    
    
}
.footer-links h4 {
    margin-bottom: 10px;

}
.footer-links {
    margin-bottom: 8px;

}

.imglan  {
    width: 100%;
}
[data-anime] {
    opacity: 0;
    transition: .3s;
}
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);

}
.ninten button {
    background: rgb(110, 199, 226);
    color: black;
    width: 15%;
   
}

#btntop {
    position: fixed;
    bottom: 18px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: #ccc;
    border: none;
    border-radius: 100%;

}
#btntop img {
    width: 30px;
}
